<!--
  User: YJ
  Date: 2023-11-09
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>orderForm_주문등록폼</title>
</head>
<body>
<form action="/order/add" method="post">
    <div>
        <label for="user">고객</label>
<!--        <select name="userId" id="user">-->
<!--            <option value="">선택하세요.</option>-->
<!--            <option th:each="user : ${users}"-->
<!--                    th:value="${user.userId}"-->
<!--                    th:text="${user.name}">고객명-->
<!--            </option>-->
<!--        </select>-->
        <input type="text" name="user" id="user"
        th:value="${user.name}" readonly>
    </div>
    <div>
        <label for="product">상품</label>
        <select name="productId" id="product">
            <option value="">고객을 선택하세요.</option>
            <option th:each="product : ${products}"
                    th:value="${product.productId}"
                    th:text="${product.name}">상품명
            </option>
        </select>

        <label for="quantity">주문수량</label>
        <input type="number" name="orderQuantity" id="quantity" placeholder="수량을 입력해주세요.">

        <input type="submit" value="주문 완료">
    </div>
</form>
</body>
</html>