<!--
  User: YJ
  Date: 2023-11-09
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>orderList_주문리스트</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>고객명</th>
        <th>주문id</th>
        <th>주문일자</th>
        <th>총 주문금액</th>
        <th>총 주문수량</th>
        <th>주문상태</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.getUser().getName()}">고객명</td>
        <td>
            <a th:href="@{/order/info/{orderId}(orderId=${order.orderId})}" th:text="${order.orderId}">
                orderId
            </a>
        </td>
        <td th:text="${order.getOrderDate()}">
            주문일자
        </td>
        <td th:text="${order.getTotalPrice()}">price</td>
        <td th:text="${order.getTotalQuantity()}">quantity</td>
        <td th:text="${order.getOrderStatus()}">status</td>
    </tr>
    </tbody>
</table>
</body>
</html>