<!--
  User: YJ
  Date: 2023-11-09
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>orderInfo_주문상세</title>
</head>
<body>
<div th:object="${order}">
    <div>고객
        <input type="text" readonly th:value="*{user.name}">
    </div>
    <ul th:each="orderProduct : *{orderProducts}">
        <li>상품명 <input type="text" th:value="${orderProduct.product.name}" readonly></li>
        <li>상품가격 <input type="number" th:value="${orderProduct.orderPrice}" readonly></li>
        <li>재고수량 <input type="number" th:value="${orderProduct.orderQuantity}" readonly></li>
    </ul>
    <div>
        <button th:onclick="|location.href='@{/order/list}'|">이전으로</button>
    </div>
</div>
</body>
</html>